In [20]:
import pandas as pd
import numpy as np

In [21]:
cotisantsPSL = pd.read_excel('cotisantsPSL.xlsx')
cotisantsPSL.head(2)

,Référence commande,Date de la commande,Statut de la commande,Nom adhérent,Prénom adhérent,Carte d'adhérent,Nom payeur,Prénom payeur,Email payeur,Raison sociale,Moyen de paiement,Tarif,Montant tarif,Code Promo,Montant code promo,Commentaires
0,101801293,2024-09-12 14:44:00,Validé,Kervin,Chauke,Voir la carte d'adhérent - PDF,Kervin,Chauke,chaukekervin@gmail.com,NaN,Carte bancaire,Cotisation PSL Sport,20,NaN,NaN,NaN
1,101772443,2024-09-12 11:30:00,Validé,ROBERT,Quentin,Voir la carte d'adhérent - PDF,ROBERT,Quentin,quentin.robert@etu.minesparis.psl.eu,NaN,Carte bancaire,Cotisation PSL Sport,20,NaN,NaN,NaN

In [22]:
cotisantsPSL = pd.DataFrame({"Nom" : cotisantsPSL['Nom adhérent'], "Prénom" : cotisantsPSL['Prénom adhérent']})
cotisantsPSL['Nom Complet'] = cotisantsPSL['Nom'].str.strip() + ' ' + cotisantsPSL['Prénom'].str.strip()
list_cotisantsPSL = cotisantsPSL['Nom Complet'].tolist()
list_cotisantsPSL[:5]

['Kervin Chauke',
 'ROBERT Quentin',
 'Bourgarel Joseph',
 'TANNOURY Charbel',
 'PICAMAL Fanny']

In [25]:
form_answer = pd.read_excel('formResults.xlsx')
form_answer.rename(columns={'Adresse mail ':'Adresse-mail'}, inplace=True)
form_answer.head(2)

,NOM,Prénom,Sexe,Genre,Adresse-mail,Numero de téléphone,Payé ?,Photo,Envoyé à PSL ?,Validé par PSL ?
0,SMAIL,Samy,M,Monsieur,samy.smail@etu.minesparis.psl.eu,661454702,OUI,23smail - Samy Smail.jpg,OUI,En attente
1,SORIN,Lucile,F,Madame,lucile.sorin@etu.minesparis.psl.eu,682250149,OUI,IMG_5050 - Lucile Sorin.jpeg,OUI,En attente

In [26]:
form_answer = pd.DataFrame({"Nom" : form_answer['NOM'], "Prénom" : form_answer['Prénom']})
form_answer['Nom complet'] = form_answer['Nom'].str.strip() + ' ' + form_answer['Prénom'].str.strip()
list_form = form_answer['Nom complet'].tolist()
list_form[:5]

['SMAIL Samy',
 'SORIN Lucile',
 'LOSANTOS Solène',
 'BELLICAUD Alice',
 'ETHEIMER Paul']

In [28]:
list_prompt_payer = []
list_delinquent_payer = []
list_prompt_payer_without_form = []

list_prompt_payer = list(set(list_cotisantsPSL).intersection(set(list_form)))
#we got the prompt payer, now we want to see who answered the form but didn't pay us. Then, we would want to see who paid but didn't fill the form.

#those who answered the form without paying
list_delinquent_payer = list(set(list_form).difference(set(list_cotisantsPSL)))

#those who paid without filling the form
list_prompt_payer_without_form = list(set(list_cotisantsPSL).difference(set(list_form)))

#difference returns the elements that are present in the first object but not in the second.

print("Payeurs qui ont répondu au formulaire :", list_prompt_payer)
print("Répondants qui n'ont pas payé :", list_delinquent_payer)
print("Payeurs qui n'ont pas répondu au formulaire :", list_prompt_payer_without_form)
print("Nombre de payeurs qui ont répondu au formulaire :", len(list_prompt_payer))
print("Nombre de répondants qui n'ont pas payé :", len(list_delinquent_payer))
print("Nombre de payeurs qui n'ont pas répondu au formulaire :", len(list_prompt_payer_without_form))

Payeurs qui ont répondu au formulaire : ['ROBERT Quentin', 'STERIN Gaspard', 'DETEIX Joseph', 'SMAIL Samy', 'COTTY Clara', 'PICAMAL Fanny', 'BREUIL Paul', 'MEDDEB Paul', 'TANNOURY Charbel', 'CHAPELANT Antoine', 'DURAND Victor', 'DJOMBI MOUSSI Isabelle Alexandra Paola', 'BIKANDA Lara Maella']
Répondants qui n'ont pas payé : ['DUPONT Ludivine', 'BRUNEL Lenny', 'KERVIN Chauke', 'ZENDRON Hubert', 'ETHEIMER Paul', 'HUCHER Lenny', 'CHABERT Cyrianne', 'ESCUDIE Pierre', 'LHAYANI Samuel', 'LOSANTOS Solène', 'DE FERRAN Louise', 'THÉROND Barnabé', 'SORIN Lucile', 'KLEINMANN Hanna', 'BOURGAREL Joseph', 'PIECHACZYK Antonin', 'BALZER Elke', 'ROYER Jules', 'CORMOULS HOULES Blanche', 'POUX Raphaël', 'GUICHAOUA Gwenn', 'DUBOIS Camille', 'BAUDRY Nolan', 'RASPILLER Franck', 'ANDRIEUX Theo', 'BELLICAUD Alice', 'ZADORA Martin']
Payeurs qui n'ont pas répondu au formulaire : ['Brunel Lenny', 'Hadj Mohand Yanis', 'Vambert Tristan', 'Sorin Lucile', 'Escudié Pierre', 'Royer jules', 'Thérond Barnabé', 'De La Rochefordière Alfred', 'Balzer Elke', 'Kervin Chauke', 'Guichaoua Gwenn', 'Lhayani Samuel', 'Hucher Lenny', 'Dubois Camille', 'Etheimer Paul', 'Losantos Solène', 'Bourgarel Joseph', 'Kleinmann Hanna', 'Dupont Ludivine', 'Bellicaud Alice', 'de Ferran Louise']
Nombre de payeurs qui ont répondu au formulaire : 13
Nombre de répondants qui n'ont pas payé : 27
Nombre de payeurs qui n'ont pas répondu au formulaire : 21

In [29]:
list_prompt_payer = pd.DataFrame(list_prompt_payer, columns=['email'])
list_prompt_payer_without_form = pd.DataFrame(list_prompt_payer_without_form, columns=['email'])
list_delinquent_payer = pd.DataFrame(list_delinquent_payer, columns=['email'])

list_prompt_payer.to_json('data/prompt_payers.json', orient='records')
list_prompt_payer_without_form.to_json('data/prompt_payers_without_form.json', orient='records')
list_delinquent_payer.to_json('data/delinquent_payers.json', orient='records')